.layout {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: #f4f6f9;
}

.layout-main {
    display: 1 1 auto;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    max-width: 1600px;
    padding: 30px;
}