.tab-component {
    font-weight: 600 !important;
    text-transform: capitalize !important;
    color: #f1f3f7 !important;
}

.tab-component:hover {
    color: #bdbdbd !important;
}

.Mui-selected {
    text-decoration: none;
    color: #bdc3cc !important;

}